{
    "example.com": {
        "hosted_zone_id": "ABCD1234",
        "redirects": {
            "dev.example.com": "dev.to"
        },
        "bounce_email": "no-reply@example.com",
        "emails": [
            {
                "from_sender": "no-reply@example.com",
                "alias": "a@example.com",
                "recipients": [
                    "a@myExistingEmail.com",
                    "b@myExistingEmail.com"
                ],
                "subject_prefix": "[Category1]"
            }
        ]
    }
}