[
    {
        "from_sender": "no-reply@example.com",
        "alias": "a@example.com",
        "recipients": [
            "a@myExistingEmail.com",
            "b@myExistingEmail.com"
        ],
        "email_prefix": "FW: "
    },
    {
        "from_sender": "my-sender@example.com",
        "alias": "b@example.com",
        "recipients": [
            "b@myExistingEmail.com"
        ],
        "email_prefix": ""
    }
]